* { font-family: 'DM Sans', sans-serif; }

body {
    background-image: url('../assets/backgroundimage2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .9;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Nav stylings start */

nav {
    max-width: 100vw;
    display: flex;
    background-color: darkslategray;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0px;
}

li {
    padding-left: 20px;
    display: flex;
}

h6 {
    margin-top: 5px;
    padding: 0;
    font-family: 'Bungee', cursive;
    padding: 2px;
}

p { 
    margin-left: 5px; 
    padding: 2px;
    font-family: 'Bungee', cursive;
    text-indent: 10%;
}

.bigWord {
    color: darkslategray;
    font-size: 70px;
    line-height: 50px;
    letter-spacing: -5px;
    text-transform: lowercase;
    margin-bottom: 0px;
}

.headerTitle {
    color: darkslategray;
    font-size: 85px;
    line-height: 60px;
    letter-spacing: -8px;
    text-transform: lowercase;
} 

a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: white;
}

a:hover { color: white; }

img {
    min-width: auto;
    max-width: 40rem;
    max-height: 27rem;
}

#intro {
    display: flex;
    justify-content: end;
}

img {
    width: 200px;
    height: 300px;
}

#intro h5 {
    flex-grow: 4;
    align-self: flex-end;
}

@media screen and (max-width: 767px) {
    main {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
    main div {
        width: auto;
        min-height: 20rem;
    }
    ul { flex-direction: column; }
    #skills-content { margin-bottom: 1rem; }
}

@media screen and (max-width: 320px) {
    ul { flex-direction: column; }
    #skills-content { margin-bottom: 1rem; }
}