* {
    font-family: 'DM Sans', sans-serif;
}

body {
    background-image: url('../assets/backgroundimage.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name {
    background-color: white;
    color: #4e2525;
    opacity: 0.5;
    min-width: 25rem;
}

h5, h6 { letter-spacing: -1px }

.bigWord {
    color: #843232;
    font-size: 85px;
    line-height: 60px;
    letter-spacing: -8px;
    text-transform: lowercase;
}

.bigWordName {
    color: black;
    font-size: 85px;
    line-height: 60px;
    letter-spacing: -8px;
    text-transform: lowercase;
}

a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: #843232;
}

a:hover { color: #4e2525; }

#linksContainer {
    display: flex;
    flex-wrap: wrap;
}


@media screen and (max-width: 767px) {
    #name {
        min-width: 20rem;
    }
    
    #nav {
        min-width: 20rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 320px) {
    #name {
        min-width: 15rem;
    }
    
    #nav {
        min-width: 15rem;
        margin-bottom: 2rem;
    }
}