* { font-family: 'DM Sans', sans-serif; }

body {
    background-image: url('./assets/backgroundimage3.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .9;
    margin-top: 2rem;
}

section {
    display: flex;
    justify-content: center;
}

section div{
    background-color: #3a3e4f;
    color: white;
    width: 100%;
    max-width: 30rem;
    opacity: .9;
    padding: 1rem;
    margin: 1rem;
}

/* Nav stylings start */
nav {
    max-width: 100vw;
    display: flex;
    background-color: #3a3e4f;
    color: white;
}

.card {
    background-color: #3a3e4f;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0px;
}

li {
    padding-left: 20px;
    display: flex;
}
/* Nav stylings end */

h4 {
    letter-spacing: -1px;
}
p { 
    margin-left: 5px; 
    font-weight: bold;
    color: white;
}

.bigWord {
    color: #3a3e4f;
    font-size: 85px;
    line-height: 60px;
    letter-spacing: -8px;
    text-transform: lowercase;
} 

.headerTitle {
    color: #2c2f3f;
    font-size: 85px;
    line-height: 40px;
    letter-spacing: -8px;
    text-transform: lowercase;
} 

a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: white;
}

a:hover {
    color: white;
}

@media screen and (max-width: 767px) {
    section {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
    section div {
        width: auto;
    }
    ul { flex-direction: column; }
}

@media screen and (max-width: 320px) {
    ul { flex-direction: column; }
}